@model KC_FinancialPortal.Models.Budget

@{
    ViewBag.Title = "Create";
}

<div class="col-6 container-fluid">
    <div class="card shadow mb-4 border-bottom-primary">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Create a Budget</h6>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="card-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        Budget Name
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Target Amount
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TargetAmount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TargetAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        Current Amount
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CurrentAmount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CurrentAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6 text-center">
                            <a href="@Url.Action("Index", "Budgets")" class="btn btn-info rounded-circle">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                            <h6 class="button-text small">To Budgets Index</h6>
                        </div>
                        <div class="col-6 text-center">
                            <button type="submit" value="Create" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </button>
                            <h6 class="button-text small">Create</h6>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>