@model KC_FinancialPortal.Models.BankAccount



<div class="col-8 container-fluid">
    <div class="row mb-4">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Create Bank Account</h6>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.HouseholdId)
                    @Html.HiddenFor(model => model.OwnerId)
                    var houseId = @Html.ValueFor(model => model.HouseholdId).ToString();

                    <div class="card-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.AccountType, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EnumDropDownListFor(model => model.AccountType, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AccountType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.Label("Starting Balance", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.StartingBalance, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StartingBalance, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.Label("Current Balance", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.CurrentBalance, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CurrentBalance, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-center">
                                <div class="row">
                                    <div class="col">
                                        <a href="@Url.Action("Index","BankAccounts")" class="btn btn-info btn-circle"><i class="fa fa-arrow-left"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="button-text small">Bank Accounts Index</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center">
                                @if (houseId != "")
                                {
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" value="Create" class="btn btn-success btn-circle"><i class="fas fa-check"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="button-text small">Create</h6>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" disabled class="btn btn-dark btn-circle"><i class="fas fa-star"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="button-text small" style="color:red">You are not in a household.<br/>Join a household to add a Bank Account.</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</div>
