@model IEnumerable<KC_FinancialPortal.Models.BankAccount>
@using KC_FinancialPortal.Models
@using Microsoft.AspNet.Identity

@{
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());

}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bank Accounts - All accounts connected to this household</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="bankAccountTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Account Name
                            </th>
                            <th>
                                Household
                            </th>
                            <th>
                                Owner
                            </th>
                            <th>
                                Created On
                            </th>
                            <th>
                                Account Type
                            </th>
                            <th>
                                Starting Balance
                            </th>
                            <th>
                                Current Balance
                            </th>
                            <th>
                                Low Balance Warning
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.Where(m => m.HouseholdId == user.HouseholdId))
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Household.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartingBalance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentBalance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LowBalance)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>

                            </tr>
                        </tbody>
                    }

                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row pt-2">
                <div class="col text-center">
                    <div class="row">
                        <div class="col">
                            <a href="@Url.Action("Index","Home")" class="btn btn-info btn-circle"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="button-text small">To Dashboard</h6>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col">
                            <a href="@Url.Action("Create","BankAccounts")" class="btn btn-success btn-circle"><i class="fas fa-star"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="button-text small">Create New Account</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#bankAccountTable').DataTable();
        });
    </script>
}
