@model KC_FinancialPortal.Models.Household
@using KC_FinancialPortal.Models
@using Microsoft.AspNet.Identity
@using KC_FinancialPortal.Helpers

@{
    var db = new ApplicationDbContext();
    var userId = db.Users.Find(User.Identity.GetUserId());
    var roleHelper = new RoleHelper();
    var role = roleHelper.GetRoleName(userId.Id);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card shadow mb-4 border-bottom-primary">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@Model.Name Details</h6>
                </div>
                <div class="card-body">
                    <div class="">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Greeting)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Greeting)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="row pt-3">
                            <div class="col-6 text-center">
                                @if (role == "Administrator")
                                {
                                    <a href="@Url.Action("Index", "Households")" class="btn btn-info rounded-circle">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                    <h6 class="button-text">To Households Index</h6>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "Home")" class="btn btn-info rounded-circle">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                    <h6 class="button-text">Back to Dashboard</h6>
                                }
                            </div>
                            <div class="col-6 text-center">
                                <a href="@Url.Action("Edit", "Households", new { id = Model.Id })" value="Create" class="btn btn-warning btn-circle">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <h6 class="button-text">Edit Household</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*---------- Member List ----------*@
        <div class="col-6">
            <div class="card shadow mb-4 border-bottom-primary">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Household Members</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="usersTable">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Email
                                </th>
                                @if (User.IsInRole("Administrator") || role == "Head Of Household")
                                {
                                    <th></th>
                                }

                            </tr>
                        </thead>
                        @foreach (var user in Model.Users)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(house => user.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(house => user.DisplayName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(house => user.Email)
                                    </td>
                                    @if (User.IsInRole("Administrator") || role == "Head Of Household")
                                    {
                                        <td>
                                            Remove Member
                                            @*@Html.ActionLink("Remove Member", "Delete", new { id = user.Id })*@
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4 border-bottom-primary">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Bank Accounts in Hosuehold</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="accountsTable">
                        <thead>
                            <tr>
                                <th>
                                    Account Name
                                </th>
                                <th>
                                    Created On
                                </th>
                                <th>
                                    Account Type
                                </th>
                                <th>
                                    Starting Balance
                                </th>
                                <th>
                                    Current Balance
                                </th>
                                <th>
                                    Low Balance Warning
                                </th>
                                @if (User.IsInRole("Administrator") || role == "Head Of Household")
                                {
                                    <th></th>
                                }

                            </tr>
                        </thead>
                        @foreach (var account in Model.BankAccounts)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(h => account.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(h => account.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(h => account.AccountType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(h => account.StartingBalance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(h => account.CurrentBalance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(h => account.LowBalance)
                                    </td>
                                    @if (User.IsInRole("Administrator") || role == "Head Of Household")
                                    {
                                        <td>
                                            @Url.Action("Edit", "BankAccounts", new { id = account.Id }) |
                                            @Url.Action("Details", "BankAccounts", new { id = account.Id }) |
                                            @Url.Action("Delete", "BankAccounts", new { id = account.Id })
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>

@section scripts{
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#usersTable').DataTable(
                {
                    "lengthMenu": [5, 10, 20, 30, 50]
                });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#accountsTable').DataTable(
                {
                    "lengthMenu": [5, 10, 20, 30, 50]
                });
        });
    </script>
}
