@model KC_FinancialPortal.Models.Household

<div class="container-fluid ">
    <div class="row">
        <div class="col-6">
            <div class="card shadow mb-4 border-bottom-primary">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@Model.Name - Details</h6>
                </div>
                <div class="card-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Greeting)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Greeting)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>

                        </dl>
                    </div>
                    <hr />
                    <div class="form-group pt-2">
                        <div class="row pt-3">
                            <div class="col-6 text-center">
                                <a href="@Url.Action("Index", "Home")" class="btn btn-info rounded-circle">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                                <h6 class="button-text">Back to Dashboard</h6>
                            </div>
                            <div class="col-6 text-center">
                                <a href="@Url.Action("Edit", "Households", new { id = Model.Id })" value="Create" class="btn btn-warning btn-circle">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <h6 class="button-text">Edit Household</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow mb-4 border-bottom-primary">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Household - Users</h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                UserName
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(house => user.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(house => user.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(house => user.UserName)
                                </td>
                                @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>*@
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>