@model KC_FinancialPortal.Models.BudgetItem


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="col-8 container-fluid">
        <div class="row mb-4">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Create Bank Account</h6>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card-body">
                        <div class="form-group row">
                            <p class="control-label col-md-3">Budget</p>
                            <div class="col-md-8">
                                @Html.DropDownList("BudgetId", null, "---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BudgetId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TargetAmount, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TargetAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TargetAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.CurrentAmount, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CurrentAmount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CurrentAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-center">
                                <div class="row">
                                    <div class="col">
                                        <a href="@Url.Action("Index","BudgetItems")" class="btn btn-info btn-circle"><i class="fa fa-arrow-left"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="button-text small">Budget Items Index</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success btn-circle"><i class="fas fa-check"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="button-text small">Create Budget Item</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            }
