@model KC_FinancialPortal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Financial Portal - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/fonts/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

</head>

<body class="loginbg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Enter Your Email Address To Recover Your Account</h1>
                                    </div>

                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group">
                                            
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Email Link" />
                                        </div>

                                    }
                                    <hr />
                                    <div class="text-center">
                                        @Html.ActionLink("Back to Login", "Login", null, new { @class = "small" })
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("Create an Account", "Register", null, new { @class = "small" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin-2.min.js"></script>

</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
